# Table of Contents

-Steps 1-3 part of consistency checks course reading/practice:

    -Importing libraries and data
    
    -Consistency checks (transforming data type, missing data, duplicates)
    
    -Export cleaned data

-4.5 task work starts at step 4
    
    -Consistency checks (review for inconsistencies, transforming data type, missing data, duplicates)
    
    -Export wrangled data

# 1. Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 2. Importing Data

In [2]:
# Remember project folder file path
path = r'C:\Users\rstev\Documents\03_22 Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\rstev\\Documents\\03_22 Instacart Basket Analysis'

In [32]:
# Import orders_wrangled
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'))

In [5]:
# Import products
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'))

# 3. Consistency Checks

## 3a. Mixed type data

In [6]:
# Create a dataframe to work with
df_test = pd.DataFrame()

In [7]:
# Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [8]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [9]:
# Check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [10]:
# Converting all in col to string type
df_test['mix'] = df_test['mix'].astype('str')

In [16]:
df_test.dtypes

mix    object
dtype: object

## 3b. Missing Data

In [18]:
# Checking for missing data in products dataframe
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [19]:
# Creating subset to look at the missing data values 
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [20]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [22]:
# How to handle the missing data, in this case filtering out the rows w/out missing because it is a string var
df_prods.shape

(49693, 5)

In [23]:
# Create subset with only the non-missing data
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [24]:
# Compare number of rows in cleaned df vs original to make sure it worked properly
df_prods_clean.shape

(49677, 5)

## 3c. Duplicates

In [25]:
# Look for full dupes, i.e., rows with every column the same
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [26]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [27]:
# Check the number of rows before and after de-duping
df_prods_clean.shape

(49677, 5)

In [28]:
# De-dupe
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [29]:
df_prods_clean_no_dups.shape

(49672, 5)

In [30]:
# Exporting cleaned file
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

# 4. Task

In [31]:
# 1. Consistency checks for df_prods performed above.
# 2. df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

### Inconsistencies noticed above:
##### The max product_id value should match up with the total number of rows since the IDs start at 1. We uncovered this issue was due to the 5 duplicate rows.
##### 134 seems like a high number for aisle_id
##### 99999 is very high for prices and might be included as a missing value instead of the actual price of an item

In [34]:
# 3. Check for mixed data type in orders df
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

In [35]:
# 4. My code above did not produce any columns with mixed data types.
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_order_placed,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [36]:
df_ords.dtypes

Unnamed: 0                  int64
order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
hour_order_placed           int64
days_since_prior_order    float64
dtype: object

In [37]:
# 5. Check for missing data in orders df
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
hour_order_placed              0
days_since_prior_order    206209
dtype: int64

days_since_prior_order contains a large number of missing data, which could be a result of the records being customers' first puchases, therefore they don't have a prior order to calculate from

In [40]:
# First, I want to test my theory that the missing data is from first purchases so will review the missing data.
df_ords_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [41]:
df_ords_nan.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_order_placed,days_since_prior_order
count,2.062090e+05,2.062090e+05,206209.000000,206209.0,206209.000000,206209.000000,0.0
mean,1.712637e+06,1.708462e+06,103105.000000,1.0,2.754118,13.626597,NaN
std,9.874816e+05,9.881299e+05,59527.555167,0.0,2.076205,4.223769,NaN
min,0.000000e+00,2.000000e+01,1.000000,1.0,0.000000,0.000000,NaN
25%,8.579730e+05,8.507300e+05,51553.000000,1.0,1.000000,11.000000,NaN
50%,1.717068e+06,1.706246e+06,103105.000000,1.0,3.000000,14.000000,NaN
75%,2.570518e+06,2.564292e+06,154657.000000,1.0,5.000000,17.000000,NaN
max,3.421069e+06,3.421081e+06,206209.000000,1.0,6.000000,23.000000,NaN

In [42]:
# 6. Table above confirmed theory, only 1 order
# I'm going to create a subset df to filter out the non-missing data. 
# We don't want to remove the data entirely and imputation is not an option
df_ords.shape

(3421083, 7)

In [43]:
# Creating subset for non-missing
df_ords_multi = df_ords[df_ords['days_since_prior_order'].isnull() == False]

In [44]:
df_ords_multi.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_order_placed,days_since_prior_order
count,3.214874e+06,3.214874e+06,3.214874e+06,3.214874e+06,3.214874e+06,3.214874e+06,3.214874e+06
mean,1.710407e+06,1.710675e+06,1.029701e+05,1.819107e+01,2.777637e+00,1.344082e+01,1.111484e+01
std,9.875882e+05,9.875466e+05,5.953411e+04,1.779950e+01,2.044923e+00,4.225992e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.551032e+05,8.555472e+05,5.138500e+04,6.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710098e+06,1.710834e+06,1.026620e+05,1.200000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565527e+06,2.565905e+06,1.543720e+05,2.500000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [45]:
# Check that number of rows = original - number of rows with missing data, and it does check out
df_ords_multi.shape

(3214874, 7)

In [46]:
# 7. Checking orders df for duplicates
df_ords_dups = df_ords[df_ords.duplicated()]

In [47]:
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_week, hour_order_placed, days_since_prior_order]
Index: []

In [48]:
# 8. There were no dupes, but if there were, I would probably use the code that removes the dupes.

In [49]:
# 9. Exporting cleaned orders df (already exported products above)
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))